@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.contact-section {
  background-color: #efe1fa;;
  padding: 100px 20px;
  color: #4b0082;
  min-height: 100vh;
}

.contact-title {
  font-family: 'IM Fell English SC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.75rem;
  color: #6a0dad;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 1.25rem;
  font-style: italic;
  color: #8a2be2;
  margin-bottom: 40px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input,
.form-textarea {
  padding: 15px 20px;
  border-radius: 15px;
  border: 2px solid #d8b4f8;
  background-color: #fff0f5;
  font-size: 1rem;
  color: #4b0082;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
  box-shadow: 0 0 10px #dda0dd;
}

.form-button {
  background-color: #6a0dad;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 8px 16px rgba(106, 13, 173, 0.3);
}

.form-button:hover {
  background-color: #8a2be2;
}
